body{
  background: rgb(23, 23, 61);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
  /* Morado pastel para los títulos */
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  /* Azul pastel para los formularios */
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  /* Morado oscuro para contraste en las etiquetas */
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #000000;
  /* Borde azul pastel */
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  margin-top: 30px;
  background-color: #343436;
  /* Botones morados pastel */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.subirArchivo {
  height: 20px;
  background-color: #343436;
  /* Botones morados pastel para subir archivos */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  /* Fondo claro para las tablas */
  border-radius: 10px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #ffffff;
  /* Cabeceras de tabla azules pastel */
  color: #000000;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #e3dfdf;
}

.volver-inicio {
  position: fixed;
  top: 20px;
  left: 20px;
}

.btn-volver {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #545478;
  color: #fff;
  border-radius: 5px;
}

.btn-volver:hover {
  background-color: #3a3a5e;
}

/*dysplay: flex*/
.contenedor-principal {

  justify-content: space-between;
}

.contenedor-formulario {
  flex: 1;
  margin-top: 26px;
  margin-right: 30px;
}

.contenedor-tabla {
  flex: 1.5;
  margin-right: 30px;
}

button:hover,
.subirArchivo:hover,
.btn-volver:hover {
  background-color: #000000;
  color: #ffffff;
}

button#btnBorrar:hover {
  background-color: #000000;
  color: #ffffff;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.fondo {
  padding: 32px 0;
  background-color: black;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  color: aqua;
  font-weight: 800;
  text-transform: uppercase;

}

.menu .navbar ul li {
  position: relative;
  float: left;

}

.menu ul li a {
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
}

.menu .navbar ul li a:hover {
  color: aquamarine;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

#menu:checked~.navbar {
  display: initial;
}

.fondo {
  padding: 47px 0;
}

@media(max-width:600px) {
  .menu {
    padding: 30px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(72, 71, 71);
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked~.navbar {
    display: initial;
  }
}