* {
    margin: 10px;
}

body {
    background-color:  rgb(23, 23, 61);
    background-attachment: fixed;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: center;
}
ul li a{
    color: white;
    text-decoration: none;
}
.card {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 900px;
    color: black;
    margin: 0 auto;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 650px) {
    .card {
        width: 70%;
        /* ancho de la tarjeta para ajustarla al ancho de la pantalla */
        height: auto;
        margin: 0 auto;
        margin-left: 17%;
        justify-content: center;

    }
    .links{
        max-width: 50%;
    }
}
