* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(23, 23, 61);
    color: white;
}

.card {

    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(255, 253, 240);
    overflow: hidden;
    max-width: 200px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    color: #000;
}

.container {
    max-width: 100%;
    height: 140px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    margin: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    text-decoration: none;
    list-style: none;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: darkcyan;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.card:hover {

    max-width: 220px;
}

.card img {

    background-color: rgb(255, 255, 255);
}

.title {

    color: chocolate;
    font-size: 10px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.linea {
    width: 80%;
    height: 1px;
    background-color: #ffffff;
    margin: 20px auto;
}
@media(max-width:660px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        display: none;
        z-index: 30000;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        margin-left: 15px;
    }
    .links{
        max-width: 90%;
    }

}